%p#notice= notice

%p
  %b Firstname:
  = @user_profile.firstname
%p
  %b Lastname:
  = @user_profile.lastname
%p
  %b Description:
  = @user_profile.description
%p
  %b Job:
  = @user_profile.job
%p
  %b Gender:
  = @user_profile.gender
%p
  %b Birthday:
  = @user_profile.birthday
%p
  %b Avatar:
  = image_tag(@user_profile.avatar_url.to_s, alt: "user avatar")
%p
  %b User:
  = @user_profile.user.username

= link_to 'Edit', edit_user_profile_path(@user_profile)
\|
= link_to 'Back', user_profiles_path
